<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="username" value=""/> <!--example@hotmail.com-->
    <add key="password" value=""/> <!--your password-->
    <add key="tfsServer" value=""/> <!--https://example.visualstudio.com/DefaultCollection/-->
    <add key="webApiVersion" value="2.0"/>
  </appSettings>
</configuration>
